@use "./variables" as *;
@use "./components/index.scss" as *;
// Usage
body {
  background-color: $bg-primary;
  color: $text-primary;
  font-family: $font-body;
}

h1,
h2,
h3,
h4 {
  font-family: $font-heading;
  color: $text-primary;
}
